@import "tailwindcss";

/* a{
    margin-left: 10px ;
} */
 html,body{
    height: 100%;
    width: 100%;
 }
 h1{
    position: absolute;
    text-decoration: underline;
    font-size: 60px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

 }